#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# ROUTES PUBLIQUES --------------------------------
    # LOGIN - VERIFICATION :
        # PATTERN : /login/submit
        # Vérification des données du formulaire
        # @param STRING login
        RewriteRule ^login\/submit$ index.php?login=submit [L]

    # LOGIN - FORMULAIRE - ERRORS :
        # PATTERN : /login/error/x
        # Formulaire de connexion avec erreur
        # @param STRING login
        # @param INT error
        RewriteRule ^login\/error\/([0-9]+)$ index.php?login=form&error=$1 [L]

    # LOGIN - FORMULAIRE :
        # PATTERN : /login
        # Formulaire de connexion au backoffice
        # @param STRING login
        # @param INT error
        RewriteRule ^login$ index.php?login=form&error=0 [L]

    # ROUTE PAR DEFAUT :
        # PATTERN : /
        # Message de bienvenue
        # RewriteRule ^(.*)$ index.php [L]

# --------------------------------------------------

RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
